fastapi~=0.116.1
httpx~=0.28.1
uvicorn[standard]
psycopg2-binary
sqlalchemy~=2.0.41

passlib~=1.7.4
bcrypt==4.0.1
python-jose~=3.5.0
python-multipart
pip~=25.1.1
colorama~=0.4.6
PyYAML~=6.0.2
idna~=3.10
typing_extensions~=4.14.1
certifi~=2025.7.14
six~=1.17.0
pydantic~=2.11.7