@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Inter', 'Jetbrains Mono', Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  /* border: 1px solid grey; */
}

.vocabEntry {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 20px;
}

input {
  height: 100%;
}

.btnIcon:hover path {
  fill: #a1a1aa
}

:hover .btnIcon {
  cursor: pointer;
}